# Ignore all
*

# Unignore all with extensions
!*.*

# Unigore all dirs
!*/

# Ignore log
*.log

# Builded objects
build/
*.d
*.o
*.a
*.so
*.dll
.build

# Configuration file
*.ini
*.env

# Unit tests files
*.gcda
*.gcno

# Ignore root tests files
/*.cpp
/*.hpp
/*.inl
/*.h
/*.c

# Unignore Makefile
!Makefile

# Unignore AUTHORS
!AUTHORS

Temporary/
Build/

!refs/
!refs/README.md
!refs/zappy_server

# IDE
.vscode/
.idea/

# Ignore Valgrind files
vgcore.*

# Building files
*.exe
*.out
*.AppImage
App/
